/*
font-family: montserrat, sans-serif;
font-family: open-sans, sans-serif;
 */

.ctxt {
  text-align: center;
}

.header-img {
  width: 100%;
  height: 350px;
}

.header {
  height: 140px;
  position: absolute;
  width: 100%;
  z-index: 1000;
  vertical-align: middle;
}


.subnav {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 18px;
  font-family: open-sans, sans-serif;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 18px;
  text-align: left;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-size-adjust: 100%;
  transition-delay: 0;
  transition-duration: 0.1;
  white-space: nowrap;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: none;
}

.subnav-adiv {
  color: rgb(33, 33, 33);
  padding-top: 10px;
  padding-left: 20px;
}

.subnav-a {
  color: rgb(33, 33, 33);
  text-decoration: none;
}
.subnav-a:hover {
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-decoration: none;
}

#sidecarNav {
  background-color: rgb(33,33,33);
  bottom: 0;
  box-sizing: border-box;
  display: block;
  height: 100%;
  line-height: 16px;
  overflow-x: auto;
  overflow-y: auto;
  position: fixed;
  right: 0px;
  text-align: left;
  text-size-adjust: 100%;
  top: 0px;
  transition-delay: 0.14s, 0.14s;
  transition-duration: 0s, 0s;
  transition-property: height, visibility;
  transition-timing-function: linear, linear;
  /*visibility: hidden;*/
  width: 260px;
}


/* also change two below */
#li-header {
  font-size: 18px;
  font-family: open-sans, sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 14px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: right;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-size-adjust: 100%;
  transition-delay: 0;
  transition-duration: 0.1;
  white-space: nowrap;
  vertical-align: middle;
}
#li-header-cb {
  font-size: 18px;
  font-family: open-sans, sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 18px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: right;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-size-adjust: 100%;
  transition-delay: 0;
  transition-duration: 0.1;
  white-space: nowrap;
  vertical-align: middle;
}
#li-header-foldable {
  font-size: 18px;
  font-family: open-sans, sans-serif;
  color: #fff;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 14px;
  padding-left: 18px;
  padding-right: 18px;
  text-align: right;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-transform: uppercase;
  text-size-adjust: 100%;
  transition-delay: 0;
  transition-duration: 0.1;
  white-space: nowrap;
  vertical-align: middle;
}

#nav {
  color: #000;
  background-color: transparent;
}

#color-overlay {
  background-color: rgba(0, 0, 0, .3);
  color: rgba(26, 26, 26, .7);
  bottom: 0px;
  display: block;
  height: 344px;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 99;
}

p, h1, h2, h3, h4, h5, h6 {
  font-family: open-sans, sans-serif;
  color: rgba(26, 26, 26, 0.7);
  display: block;
  word-wrap: break-word;
}
h1, h2 {
  color: rgb(0, 0, 0);
}
h2 {
  font-size: 39px;
}
p {
  font-size: 17px;
  line-height: 26px;
  text-align: justify;
  word-wrap: break-word;
}

h3 {
  font-size: 22px;
  letter-spacing: 2px;
  line-height: 26px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

h6 {
  font-size: 17px;
  line-height: 26px;
  text-align: left;
  word-wrap: break-word;
}

blockquote {
  font-family: 'garamond-pro';
  color: rgb(26, 26, 26);
  color: rgba(26, 26, 26, .9);
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 70px;
  margin-left: 70px;
  text-align: center;
}
figcaption {
  text-align: center;
  color: rgb(26, 26, 26);
  color: rgba(26, 26, 26, .4);
  font-family: 'garamond-pro';
  font-size: 17px;
  padding-top: 25px;
}

.large-quote {
  color: rgb(26, 26, 26);
  color: rgba(26, 26, 26, .3);
  display: block;
  font-size: 190px;
  font-family: 'garamond-pro';
  line-height: 70px;
  text-align: center;
  vertical-align: text-bottom;
}


#hr {
  background-color: rgba(26, 26, 26, 0.15);
  background-bottom-color: rgba(26, 26, 26, 0.15);
  height: 1px;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.pl-0px {
  padding-left: 0px;
}
.pr-0px {
  padding-right: 0px;
}

.nav-color {
  background-color: #fff;
}
.bgcolor-b {
  background-color: #000;
}


/* HEADER */



#nav-logo {
  margin-top: 20px;
  font-weight: 400;
  font-variant: italic;
  font-size: 36px !important;
  color: #fff;
  width: 300px;
  height: auto;
}
#main-logo {
  height: 100%;
  width: 100%;
}
#ul-rmargin {
  margin-right: 10px;
  background-color: transparent;
}

.nav-item {
  height: 36px;
}

/*
Appear Nav
 */
#appear-nav {
  position: fixed;
  display: none;
  top: 0;
  height: 50px;
  background-color: #000;
  width: 100%;
  z-index: 90;
}
.appear-nav-li {
  font-size: 16px;
}

.appear-nav-left {
  padding-left: 0px;
  padding-right: 40px;
}
.appear-nav-right {
  padding-left: 40px;
  padding-right: 0px;
}
.last-nav-link {
  margin-right: 15px;
}
#ul-rmargin {
  margin-right: 10px;
}

/***
Bootstrap Updates
**/

.nav-link {
  text-align: right;
  padding-top: 0px;
  padding-bottom: 0px;
}

/***************

HOME HOME HOME

HOME HOME HOME

***************/

.home-header-img {
  width: 100%;
  height: 800px;
}
.home-header-div {
  width: 100%;
  height: 100%;
}
#color-overlay-home {
  background-color: rgba(0, 0, 0, .3);
  color: rgba(26, 26, 26, .7);
  bottom: 0px;
  display: block;
  height: 800px;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 99;
}

.wwd-folder:hover ~ .subnav {
  /*visibility: visible;*/
  display: block;
}

.subnav:hover {
  /*visibility: visible;*/
  display: block;
}

/*********
TEAM TEAM TEAM TAM TAM TMATMASMTWAS
*/
.team-header-img {
  width: 100%;
  height: 100%;
}
.team-header-div {
  width: 100%;
  height: 344px;
}

.contact-box-div {
  display: inline-block;
  vertical-align: middle;
}

.contact-box {
  padding-top: 12px;
  padding-bottom: 10px;
  border: 2px solid #fff;
  font-weight: bold;
}

#li-header-cb:hover {
  background-color: #fff;
  color: #000;
}

.no-box {
  padding-top: 10px;
  padding-bottom: 12px;
  font-weight: 500;
}


.teambanner {
  width: 100%;
}
.teambanner-image {
  width: 100%;
  height: auto;
}
#teambanner-div {
  background-image: url('../images/teambanner.jpg');
  height: 350px;
}
.teambanner-div {
    position: relative;
    height: 500px;
    z-index: 1;
}

.t-pt {
  padding-top: 30px;
}
.t-pb {
  padding-bottom: 25px;
}

/*
Footer
 */

.ftr-txt {
  size: 14px;
  color: #fff;
  text-align: center;
}
.ftr-txt-sm {
  font-size: 9px;
  color: #fff;
  text-align: center;
}



/********

Bootstrap changes


*********/

.nav-link {
  color: #fff;
}

.nav-color {
  background-color: rgba(0, 0, 0, 0);
}

.nav-item {
  vertical-align: middle;
}

#navbar-button {
  margin-top: 20px;
  margin-right: 30px;
  border: 3px solid white;
  z-index: 1000;
}


#navbar-button:hover {
  background-color: #fff;
}

#navbarSupportedContent {
  position: absolute;
  right: 0;
  top: 80px;
}

#navbar-button:hover #navbar-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*********

POWER


*********/

.sideNav {
  font-size: 17px;
}

#green-bold {
  color: rgb(0, 116, 107);
  font-size: 20;
  font-weight: bold;
}

.unactiveSNav {
  color: rgb(26, 26, 26);
  color: rgba(26, 26, 26, 0.4);
}
.unactiveSNav:hover {
  color: rgb(0, 0, 0);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.activeSNav {
  color: rgb(0, 0, 0);
}



/*

MEDIA QUERIES

MEDIA QUERIES

MEDIA QUERIES

*/

#container-fix {
  width: 94%;
  margin-right: 3%;
  margin-left: 3%;
}

.team-txt {

}


@media screen and (max-width: 992px) {
  #li-header-cb {
    padding-left: 0;
  }
  .contact-box {
    width: 140px;
    margin-right: 0;
    position: absolute;
    right: 10px;
  }
  .subnav {
    position: absolute;
    right: 150px;
    top: 48px;
  }
}

@media screen and (max-width: 900px) {

  .t-pb {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
    .team-txt {
    font-size: 95%;
  }
}

@media screen and (max-width: 650px) {
  .team-txt {
    font-size: 90%;
  }


  .t-pt {
    padding-top: 20px;
  }
  .t-pb {
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 500px) {
  .team-txt {
    font-size: 80%;
  }



  .t-pt {
    padding-top: 0px;
  }
}





















